.div-rd-question{
	margin-top:2px;
	margin-left:15px;
}

.save-change-a {
	margin-top: 5px;
	color: blue;
	text-decoration: underline;
	font-size: 14px;
}
.quiz-option {
	display: flex; 
	margin-right:20px;
}

.btn-start-quiz {
	background-color: cornflowerblue;
	color: whitesmoke;
	width: 177px;
}
.btn-create-quiz {
	background-color: cornflowerblue;
	color: whitesmoke;
	width: 300px;
	margin-right:5px;
}

.btn-cancel-quiz {
	background-color: aquamarine;
	margin-left: 10px
}

.quiz-lable {
	margin-top:20px;
	font-weight: 700;
	font-size: 20px;
}

.quiz-lable2{
	font-weight:600;
	font-size:17px;
	margin-left:5px;
}

.linkquiz-lable {
	font-weight: 500;
	font-size: 20px;
}

.div-mode {
	width: 300px;
	display: flex;
}

.div-mode2 {
	width: 700px;
	display: flex;
}

.mg-bottom {
	margin-bottom: 12px;
	display: flex;
	margin-left: auto;
}

.border-bt {
	border-bottom: dotted 0.5px;
}

.label-mode {
	margin-top: 2px;
	margin-left: 5px;
	font-weight: 600;
	font-size: 17px;
}

.label-mode-4 {
	margin-top: 2px;
	font-weight: 600;
	font-size: 17px;
}

.label-mode-2 {
	margin-top: 2px;
	font-weight: 600;
	font-size: 17px;
}

.label-mode-3 {
	font-weight: 600;
	font-size: 17px;
}

.label-mode-content {
	margin-right: 20px;
}
.label-preview {
	margin-top: 18px;
	margin-left: 18px;
	color: blue;
	text-decoration: underline;
	font-size: 19px;
}

.label-mode-content-2 {
	margin-top: 2px;
	margin-right: 20px;
	font-size: 15px;
}

.mode-rdb {
	margin-top: 25px;
	margin-left: 30px;
	margin-right:5px;
	width:17px;
	height:17px;
}

.label-mode-content-3 {
	margin-top: 20px;
	margin-right: 20px;
	font-size: 19px;
}

.mode-rdb2 {
	margin-top: 5px;
	margin-right: 5px;
}

.tab-bar-admin {
	font-size: larger;
	margin-left: 20px;
}

.tab-div {
	height: 50px;
}

.listBoxQuizIndex {
	z-index: 10001;
	position: absolute;
	background-color: dimgrey;
	opacity: 1;
}

.addQuestionIndex {
	z-index: 10000;
	position: absolute;
}

.shadow {
  
    /*background-color: #ccc;*/
    -moz-box-shadow: 3px 3px #666;
    -webkit-box-shadow: 3px 3px #666;
    box-shadow: 3px 3px #666;
}
.text_color_button_start {
    color: currentColor;
}
.home {
	margin-left: auto;
	margin-right: auto;
}

.cl-icon {
	color: #667eea;
}
.checkbox {
    width: 20px;
    height: 30px;
}
.text_overflow {
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mg_btn{
    margin-right:7.5px;
}
.mg-left{
	margin-left:auto;
}
.mg-top{
	margin-top:auto;
}
.tb-mg-top {
	margin-top: 25px;
}
.search-box{
	padding:0.5rem;
}
.search-size{
	width:85%;
}
.wrap-home {
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 177px 130px 33px 95px;
}
.home-form {
    width: 350px;
}
.home-form-title {
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
}
.layout-cource {
    width: 80%;
    margin-left: auto;
}
.layout-content{
    display:contents;
}
.block-search-dropdown{
	display:flex;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--c-blue-900: #081030;
	--c-blue-800: #111b40;
	--c-blue-700: #152148;
	--c-blue-500: #1d7bdb;
	--c-blue-300: #293359;
	--c-blue-200: #4e5985;
	--c-blue-100: #dfe8ff;

	* {
		scrollbar-width: 0;
	}

	*::-webkit-scrollbar {
		background-color: transparent;
		width: 12px;
	}

	*::-webkit-scrollbar-thumb {
		border-radius: 99px;
		background-color: var(--c-blue-200);
		border: 4px solid var(--c-blue-700);
	}
}





details {
	position: relative;
	
	summary {
				
		background-color: var(--c-blue-700);
		border: 2px solid var(--c-blue-300);
		padding: 1rem;
		position: relative;
		border-radius: 8px;
		padding-right: 3rem;
		cursor: pointer;
		list-style: none; // Remove arrow
		&::-webkit-details-marker {
			display: none; // Remove arrow
		}

		&:hover,
		&:focus {
			border-color: var(--c-blue-500);
		}

		i {
			position: absolute;
			top: 50%;
			right: 0.75rem;
			transform: translateY(-50%);
			transform-origin: center center;
		}
	}

	&[open]summary {
		border-color: var(--c-blue-500);
		i {
			color: var(--c-blue-500);
			transform: scaleY(-1) translateY(50%);
		}
		  
	}

	& > div {
		margin-top: 8px;
		background-color: var(--c-blue-700);
		border: 2px solid var(--c-blue-300);
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		padding: 0.5rem;
		max-height: 500px;
		overflow-y: auto;
		position: relative;
		padding-bottom: 50px;

		label {
			position: relative;
			cursor: pointer;
		}

		input {
			-webkit-appearance: none;
			appearance: none;
			visibility: hidden;
			position: absolute;
		}

		input:checked + span {
			background-color: var(--c-blue-500);
		}

		span:hover {
			background-color: var(--c-blue-800);
		}

		span {
			display: block;
			padding: 1rem;
			border-radius: 8px;
			margin-top: 0.25rem;
		}
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 2px;
		left: 4px;
		width: calc(100% - 16px);
		height: 50px;
		flex-shrink: 0;
		background-image: linear-gradient(to top, var(--c-blue-700), transparent);
		// outline: 2px solid hotpink;
		border-radius: 8px;
		pointer-events: none;
	}
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	appearance: none;
}



.hoverme {
	width: 50px;
	height: 50px;
	margin: auto;
	position: relative;
	background: #f6f6f6;
	border-radius: 25px;
	outline: 0;
	cursor: pointer;
	top: 40vh;
	transition: all .3s ease;
}



.hoverme {
	&:hover

{
	background: rgba(#f6f6f6, .3);
	& > .pop

{
	opacity: 1;
	width: 200px;
	height: 200px;
}

}
}

.pop {
	opacity: 0;
	width: 0;
	height: 0;
	background: #ffffff;
	border-radius: 100%;
	z-index: -1;
	margin: auto;
	transition: all .3s ease;
	& > p

{
	color: #353535;
	font-size: 20px;
}
}

