#over {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 999;
}

.start-dialog{
    height: auto;
    width: align-content;
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 99999;
    top: 15%;
    left: 40%;
}

.td-option{
    width: 2%;
}

div.editable {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    background:none;
}
