
@{
    ViewBag.Title = "CreateOneAnswerPoll";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/Test.css">


<div class="bg-gray-100 flex-1 p-6 md:mt-16">
    <div class="grid grid-cols-1 w-full">
        <form action="/" method="post">
            <div class="topcontent w-full items-center bg-gray p-6">
                <div class="block pb-4 pl-6 w-full">
                    <span>Time:</span>
                    <input class="border border-black-400 pl-1" size="3" type="text" name="create-question-time" placeholder="Time">
                </div>
            </div>

            <div class=" w-full items-center bg-gray p-6 border border-black-400">
                <h1 class="h6">
                    <span>Question Type:</span>
                    <span>Poll</span>
                </h1>
            </div>

            <div class="w-full items-center bg-gray p-6 border border-black-400">
                <div>
                    <textarea class="p-2 w-full" name="create-question-question" rows="4" id="question" placeholder="Question ..."></textarea>
                </div>

            </div>

            <div class=" w-full items-center bg-gray p-6 border border-black-400">
                <table id="table-poll" class="w-full border-spacing-2 option-table">
                    <tr id="poll-option">
                        <td><span>1</span></td>
                        <td class="w-full"><input type="text" class="w-full p-3 mt-2" name="option1" placeholder="Option"></td>
                        <td class="w-2"><i id="remove-option-poll" class="far fa-times-circle my-3 p-2"></i></td>
                    </tr>
                    <tr id="poll-option">
                        <td><span>2</span></td>
                        <td class="w-full"><input type="text" class="w-full p-3 mt-2" name="option2" placeholder="Option"></td>
                        <td class="w-2"><i id="remove-option-poll" class="far fa-times-circle my-3 p-2"></i></td>
                    </tr>
                    <tr id="poll-option">
                        <td><span>3</span></td>
                        <td class="w-full"><input type="text" class="w-full p-3 mt-2" name="option2" placeholder="Option"></td>
                        <td class="w-2"><i id="remove-option-poll" class="far fa-times-circle my-3 p-2"></i></td>
                    </tr>
                    <tr id="poll-option">
                        <td><span>4</span></td>
                        <td class="w-full"><input type="text" class="w-full p-3 mt-2" name="option2" placeholder="Option"></td>
                        <td class="w-2"><i id="remove-option-poll" class="far fa-times-circle my-3 p-2"></i></td>
                    </tr>
                    <tr id="poll-option">
                        <td><span>5</span></td>
                        <td class="w-full"><input type="text" class="w-full p-3 mt-2" name="option2" placeholder="Option"></td>
                        <td class="w-2"><i id="remove-option-poll" class="far fa-times-circle my-3 p-2"></i></td>
                    </tr>

                </table>
                <div class="text-center flex flex-wrap items-center justify-center column-gap inline-block mt-4">
                    <input type="button" value="Add more option" class="option-btn btn btn-gray mt-2 w-6/12 border-dashed border-2 " />
                </div>
            </div>

            <div class="form-group">
                <div class="">
                    <input type="submit" value="Create Poll" class="btn btn-default mt-2 w-full start-test2" />
                </div>
            </div>
        </form>
    </div>

    <div class="start-dialog2 text-center border border-gray-300 p-6 bg-gray-100 rounded-lg w-3/12">
        <form method="post" action="#">
            <div class="inline-block">
                <h1 class="h6">Link Poll (RowChart)</h1>
                <div class="copy">
                    <input type="text" class="float-left mr-12 h-10 border-dashed border-1" value="https://localhost:44320/StudentViews/StudentPollPieChart">
                    <button type="button" class="btn btn-gray float-right">Copy</button>
                </div>
            </div>
        </form>

        <p>Lấy giá trị trả về server mà người dùng click, rồi chuyển đến PiChart hoặc RowChart</p>
        <p> https://localhost:44320/StudentViews/StudentPoll </p>
    </div>


</div>
@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jqueryui/jquery-ui.min.js"></script>
<script src="~/Scripts/TestJS.js"></script>
<script src="~/Scripts/more-option.js"></script>*@