
@{
    ViewBag.Title = "PollResultProgressBar";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/Test.css">
<link rel="stylesheet" type="text/css" href="~/Content/Poll.css">

<div class="bg-gray-100 flex-1 p-6 md:mt-16">
    <div class="grid xl:grid-cols-1 xl:fixed xl:w-full lg:fixed lg:w-full md:fixed md:w-full">


        <div class="xl:fixed xl:w-full lg:fixed lg:w-full md:fixed md:w-full md:top-0 md:z-20 items-center bg-gray p-6 ">
            <h1 class="h4 text-center">
                <span>Poll Result</span>
            </h1>
        </div>


        <div class="xl:fixed xl:w-full lg:fixed lg:w-full md:fixed md:w-full md:top-0 md:z-20 items-center bg-gray p-6 border border-black-400">
            <div>
                <span class="h5">Number of participants:</span>
                <!--Tổng số sinh viên tham gia poll-->
                <span id="data-total" class="h5">@ViewBag.Poll.TotalParticipian</span>
            </div>
        </div>
        <div class="xl:fixed xl:w-full lg:fixed lg:w-full md:fixed md:w-full md:top-0 md:z-20 items-center bg-gray p-6 border border-black-400">
            <div>
                <textarea class="p-2 w-full" name="create-question-question" rows="4" id="question">@ViewBag.Poll.Question</textarea>
            </div>

        </div>

        <div class="xl:fixed xl:w-full lg:fixed lg:w-full md:fixed md:w-full md:top-0 md:z-20 items-center bg-gray p-6 border border-black-400">



            <div class="right-rating">
                <!--Có thêm file processchart.js để xử lý cái thanh phần trăm và màu-->
                <ul class="order-list">
                    @foreach (var pollAnswer in ViewBag.Poll.Poll_Answer)
                    {
                        <li>
                            <div class="star-value">
                                <!-- Vất string vào value của thẻ input này -->
                                <input type="text" class="w-full p-3 mt-2" name="option2" placeholder="Option 2" value="@pollAnswer.Answer_Text" readonly>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" id="data-color" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                <!--Vất số học sinh chọn vào giữa thẻ div-->
                                <div id="data-process" class="rating-hit px-1 font-bold">@pollAnswer.ChosenQuantity</div>
                            </div>

                        </li>
                    }
                </ul>
            </div>



        </div>

    </div>
    <div style="display:flex;">
        <a href="~/Teacher/Home/Home" class="btn float-left">Back To Home</a>

    </div>



</div>

<script src="~/Scripts/processchart.js"></script>