
@{
    ViewBag.Title = "CreateMatchingQuestion";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Scripts/jqueryui/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />

<div class="bg-gray-100 flex-1 p-6 md:mt-16">

    @using (Html.BeginForm("CreateMatchingQuestion", "Question", FormMethod.Post, new { id = "matching-form" }))
    {
        <input type="hidden" name="chid" value="@ViewBag.ChapterID"/>
        <div class="grid grid-cols-1 w-full ">

            <div class="w-full items-center bg-gray ">
                <div class="text-center">
                    <h1 class="h3">
                        <span>Question Type:</span>
                        <span>Matching</span>
                    </h1>
                </div>
                <div class="md:mx-16">
                    <div class="m-6">
                        <span class="label-mode-4">Learning outcome</span>
                    </div>
                    <div class="m-6">
                        @if (ViewBag.LoList != null)
                        {
                            foreach (var lo in ViewBag.LoList)
                            {
                                <div style="display:flex">
                                    <input class="mode-rdb2" style="margin-right:5px" type="checkbox" name="lo" value="@lo.LOID" />
                                    <h4 class="label-mode-content-2">@lo.LO_Name</h4>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="flex md:mx-16">
                    <div class="m-6  ">
                        <span><b>Time(second):</b></span>
                        <input class="border border-black-400 pl-1 w-4/12" id="timeMatching" type="number" name="time" placeholder="Time">
                    </div>
                    <div class="m-6  ">
                        <span><b>Mark:</b></span>
                        <input class="border border-black-400 pl-1 w-4/12" id="markMatching" type="number" name="mark" placeholder="Mark">
                    </div>
                </div>
            </div>

            <div class="w-full bg-gray p-6">
                <div class="w-full bg-gray p-6 text-center flex items-center justify-center inline-block">
                    <div class="w-full">
                        <div class="flex items-center justify-center column-gap inline-block">
                            <div class="text-center my-2 w-6/12 px-4" name="name">Left Matching</div>
                            <div class="text-center px-2 ">
                                <span>Solution</span>
                            </div>
                            <div class="text-center my-2 w-6/12 px-4" name="name">Right Matching</div>
                        </div>
                        <ul id="table-matching" class="w-full">

                            <li id="matching-option" class="w-full flex">
                                <div class="my-2 w-6/12 px-4">
                                    <!--Textarea bên trái-->
                                    <textarea id="matching-left" style="white-space: pre-wrap" name="columnA" class="border w-full p-2 border-black-400 bg-blue-200" spellcheck="false" placeholder="..."></textarea>
                                </div>
                                <!--List input ở giữa-->
                                <div id="table-solution" class="grid grid-cols-1 border border-black-400 mt-2 w-1/12 grid-rows-6">
                                </div>
                                <div class="my-2 w-6/12 px-4">
                                    <!--Textarea bên phải-->
                                    <textarea id="matching-right" style="white-space: pre-wrap" class="border w-full p-2 border-black-400 bg-green-200" name="columnB" spellcheck="false" placeholder="..."></textarea>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="mt-2 w-full text-center column-gap inline-block mt-4">
                    <span class="mx-4 text-center">Number:</span>
                    <span class="mx-4 text-center">Letter:</span>
                </div>
                <div class="mt-2 flex flex-wrap justify-center column-gap inline-block mt-4">
                    <input type="number" name="name" id="number" class="mx-2 w-1/12 border border-black-400 text-center" value="" />
                    <input type="text" name="name" id="letter" class="mx-2 w-1/12 border border-black-400 text-center" value="" />
                </div>
                <div class="w-full text-center column-gap inline-block mt-4">
                    <a id="add-matching" class=" btn bg-blue-200 mx-2 " name="add">Add solution</a>
                </div>
                <div class="w-full text-center column-gap inline-block mt-4">
                    <a id="remove-matching" class=" btn bg-blue-200 mx-2 " name="remove">Remove Solution</a>
                </div>

            </div>

            <div class="text-center flex flex-wrap items-center justify-center column-gap inline-block mt-4">
                <button type="button" id="previewMatching" class="btn btn-primary mr-6" data-toggle="modal" data-target="#matchingPreview">
                    Preview
                </button>
                <input type="submit" class="btn btn-bs-primary w-3/12" name="submit" value="Create Question">
            </div>

        </div>

    }
</div>
<!--Preview-->
<div class="modal fade" id="matchingPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="w-9/12 mt-32 mx-auto" role="document">
        <div class="modal-content ">
            <div class="">
                <button type="button" class="close float-right p-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="text-center" id="exampleModalLabel">Preview</h4>
            </div>
            <div id="" class=" w-full p-5">
                <div class="w-full bg-gray p-6 text-center flex items-center justify-center inline-block">
                    <div class="w-full">
                        <div class="flex items-center justify-center column-gap inline-block">
                            <div class="text-center my-2 w-6/12 px-4" name="name">Left Matching</div>
                            <div class="text-center px-2 ">
                                <span>Solution</span>
                            </div>
                            <div class="text-center my-2 w-6/12 px-4" name="name">Right Matching</div>
                        </div>
                        <ul id="table-matching" class="w-full">

                            <li id="matching-option" class="w-full flex">
                                <div class="my-2 w-6/12 px-4">
                                    <!--Textarea bên trái-->
                                    <textarea id="matching-left-preview" name="name" class="border w-full p-2 border-black-400 bg-blue-200" style="height:100px" rows="3" spellcheck="false" placeholder="Question here..." readonly></textarea>
                                </div>
                                <!--List input ở giữa-->
                                <div id="table-solution-preview" class="grid grid-cols-1 border border-black-400 mt-2 w-1/12 grid-rows-6">
                                </div>
                                <div class="my-2 w-6/12 px-4">
                                    <!--Textarea bên phải-->
                                    <textarea id="matching-right-preview" class="border w-full p-2 border-black-400 bg-green-200" name="name" spellcheck="false" placeholder="Answer here..." readonly></textarea>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="mt-2 w-full text-center column-gap inline-block mt-4">
                    <span class="mx-4 text-center">Number:</span>
                    <span class="mx-4 text-center">Letter:</span>
                </div>
                <div class="mt-2 flex flex-wrap justify-center column-gap inline-block mt-4">
                    <input type="number" name="name" id="number" class="mx-2 w-1/12 border border-black-400 text-center" value="" disabled/>
                    <input type="text" name="name" id="letter" class="mx-2 w-1/12 border border-black-400 text-center" value="" disabled/>
                </div>
                <div class="w-full text-center column-gap inline-block mt-4">
                    <a id="add-matching" class=" btn bg-blue-200 mx-2 " name="add" disabled>Add solution</a>
                </div>
                <div class="w-full text-center column-gap inline-block mt-4">
                    <a id="remove-matching" class=" btn bg-blue-200 mx-2 " name="remove" disabled>Remove Solution</a>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>*@
@*<script src="~/Scripts/validate.js"></script>*@