
@{
    ViewBag.Title = "CreateMultipleChoiceQuestion";
    Layout = "~/Areas/teacher/Views/Shared/_Layout.cshtml";
}


<div class="bg-gray-100 flex-1 p-6 md:mt-16">
    @using (Html.BeginForm("CreateMultipleChoiceQuestion", "Question", FormMethod.Post, new { enctype = "multipart/form-data", id = "checkbox-form" }))
    {
        <div class="grid grid-cols-1 w-full ">
            <div class="w-full items-center bg-gray">
                <div class="text-center">
                    <h1 class="h6">
                        <span>Question Type:</span>
                        <span>Multiple Choice   </span>
                        <input type="hidden" name="chid" value="@ViewBag.ChapterID" />
                    </h1>
                </div>

                <div class="flex md:mx-16">
                    <div class="m-6  ">
                        <span>Time:</span>
                        <input class="border border-black-400 pl-1" size="3" type="text" name="time" placeholder="Time">
                    </div>
                    <div class="m-6  ">
                        <span>Mark:</span>
                        <input class="border border-black-400 pl-1" size="3" type="text" name="mark" placeholder="Mark">
                    </div>
                </div>

            </div>

            <div class="w-full items-center bg-gray p-6 border border-black-400">
                <div class="w-10/12  float-left mt-3">
                    <textarea class="p-2 w-full" name="questionText" rows="4" id="question" placeholder="Content ..."></textarea>
                </div>
                <div class="w-2/12 drag-content float-right">
                    <div class="drag-area">
                        <div><i class="icon fas fa-cloud-upload-alt"></i></div>
                        <div><h3 class="header">Drag and Drop to Upload File</h3></div>
                        <div><h4 class="or">or</h4></div>
                    </div>
                    <div>
                        <div>
                            <input type="file" class="file-input btn-image" name="imgfile" accept="image/*">
                        </div>
                    </div>
                </div>

            </div>

            <div class="w-full items-center bg-gray p-6 border border-black-400">
                <div>
                    <span>Mix Choice: </span>
                    <input type="checkbox" class="form-check-input" id="cb-option2" name="mixChoice" value="1">
                </div>
                <div class="ms-error"></div>
                <table class="w-full border-spacing-2">
                    <tr>
                        <td class="w-2"><input type="checkbox" class="form-check-input" id="cb-option" name="cbOption" value="1"></td>
                        <td> &nbsp;A.&nbsp;<input style="width:95%" type="text" class="w-full pl-3" name="option"></td>
                    </tr>
                    <tr>
                        <td class="w-2"><input type="checkbox" class="form-check-input" id="cb-option" name="cbOption" value="2"></td>
                        <td> &nbsp;B.&nbsp;<input style="width:95%" type="text" class="w-full pl-3" name="option"></td>
                    </tr>
                    <tr>
                        <td class="w-2"><input type="checkbox" class="form-check-input" id="cb-option" name="cbOption" value="3"></td>
                        <td>&nbsp;C.&nbsp;<input style="width:95%" type="text" class="w-full pl-3" name="option"></td>
                    </tr>
                    <tr>
                        <td class="w-2"><input type="checkbox" class="form-check-input" id="cb-option" name="cbOption" value="4"></td>
                        <td> &nbsp;D.&nbsp;<input style="width:95%" type="text" class="w-full pl-3" name="option" ></td>
                    </tr>
                    <tr>
                        <td class="w-2"><input type="checkbox" class="form-check-input" id="cb-option" name="cbOption" value="5"></td>
                        <td> &nbsp;E.&nbsp;<input style="width:95%" type="text" class="w-full pl-3" name="option"></td>
                    </tr>
                    <tr>
                        <td class="w-2"><input type="checkbox" class="form-check-input" id="cb-option" name="cbOption" value="6"></td>
                        <td> &nbsp;F.&nbsp;<input style="width:95%" type="text" class="w-full pl-3" name="option"></td>
                    </tr>
                </table>

            </div>

            <div class="text-center flex flex-wrap items-center justify-center column-gap inline-block mt-4">
                <input type="submit" class="btn btn-bs-primary w-3/12" name="submit" value="Create Question">
            </div>

        </div>
    }
</div>
<script src="~/Scripts/dragdropimage.js"></script>