
@{
    ViewBag.Title = "QuizStarted";
    Layout = "~/Areas/Teacher/Views/Shared/_QuizLibraryLayout.cshtml";
}



<div class="bg-gray-100 flex-1 p-6 md:mt-16">
    <!-- start navbar -->
    <div style=" height: 63px; border-bottom: solid;">
        <div style="display: flex; height: 40px;">
            <h5 class="modal-title h5" id="exampleModalLabel">Student Are Doing Quiz..</h5>
            <br />
            <p>&nbsp;</p>
        </div>

    </div>
    <div style="display: flex; height: 40px; margin-bottom:10px">
        <h5 class="modal-title h5" id="exampleModalLabel">Time: 03:00</h5>
        <br />
    </div>
    <div style="display: flex; margin-top:15px">
        <a href="~/Teacher/Quiz/FinishQuiz?qzid=@ViewBag.Quiz.QuizID" style="background-color: aquamarine; margin-left:10px " class="btn ">End Quiz</a>
    </div>
</div>


