
@{
    ViewBag.Title = "ReportDetail";
    Layout = "~/Areas/Teacher/Views/Shared/_ReportLayout.cshtml";
}



<link rel="stylesheet" type="text/css" href="~/Content/report.css">
<div class="bg-gray-100 flex-1 p-6 md:mt-16">
    <!-- start navbar -->

    <div style="display: flex; margin-bottom: 25px; border-bottom: solid;">
        <h1 class="h5 text_overflow">Course: MAS201</h1>
    </div>
    <div style="display:flex; margin-bottom:25px">
        <div>
            <h1 style="margin-top: 10px; font-size: 27px;" class="h5 text_overflow">Test 1</h1>

        </div>

        <div style="margin-left: auto; display: flex; ">
            <img style="width: 50px; margin-right: 50px;" src="~/Content/img/calendar.png" />
            <img style="width: 50px; margin-right: 50px;" src="~/Content/img/idea.png" />
            <img style="width: 50px;" src="~/Content/img/team.png" />
        </div>
    </div>
    <div style="display:flex; margin-bottom:25px">
        <p style="font-size:20px">Date : 10/11/2021</p>

        <div style="margin-left: auto; display: flex; ">
            <p style="text-align: center;  margin-right: 50px; color: red; font-size: 20px; ">50%</p>
            <p style="text-align: center;  margin-right: 50px; color: blue; font-size: 20px; ">60%</p>
            <p style="text-align: center; color: forestgreen;  font-size: 20px; ">100%</p>
        </div>
    </div>
    <!-- end navbar -->


    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col">Participation Name</th>

                <th style="width:auto;" scope="col">Score</th>
                <th style="text-align:center" scope="col">Q1</th>
                <th style="text-align:center" scope="col">Q2</th>
                <th style="text-align:center" scope="col">Q3</th>
                <th style="text-align:center" scope="col">Q4</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Duc</th>
                <td><label>75%</label></td>
                <td style="text-align:center;background-color:aqua">

                    <div class="tooltip1">
                        <h1>V</h1>
                        <div class="tooltiptext">
                            <h1>1+1=? (Multiple Choice)</h1>
                            <h1>Answer: 2</h1>
                        </div>

                    </div>
                </td>
                <td style="text-align: center; background-color: aqua">V</td>
                <td style="text-align: center; background-color: #f75858">X</td>
                <td style="text-align: center; background-color: aqua">V</td>
            </tr>

            <tr>
                <th scope="row">Tung</th>
                <td><label>50%</label></td>
                <td style="text-align:center;background-color:aqua">

                    <div class="tooltip1">
                        <h1>V</h1>
                        <div class="tooltiptext">
                            <h1>1+1=? (Multiple Choice)</h1>
                            <h1>Answer: 2</h1>
                        </div>

                    </div>
                </td>
                <td style="text-align: center; background-color: aqua">V</td>
                <td style="text-align: center; background-color: #f75858">X</td>
                <td style="text-align: center; background-color:  #f75858">X</td>
            </tr>

        </tbody>
    </table>


</div>
